apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
data:
  # Linux: echo -n 'your-secret-value' | base64
  # Windows: powershell "[convert]::ToBase64String([Text.Encoding]::UTF8.GetBytes('your-secret-value'))"
  DB_PASS: cG9zdGdyZXM=
  POSTGRES_PASSWORD: cG9zdGdyZXM=
  IMAGGA_API_KEY: xxxxxxxxxxxxxxxxxxxx
  IMAGGA_API_SECRET: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
